<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Free Software Jobs</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
       <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Free Software Jobs</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="post.html" title="Post a new Free Software Job">Post</a></li>
			<!--
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
			-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	<div class="container">
        <h1>Free Software Jobs</h1>
        <p>This site is under construction and will host a portal for Free and Open-Source Software (FOSS) jobs, see <a href="https://github.com/hjacobs/freesoftwarejobs.org">https://github.com/hjacobs/freesoftwarejobs.org</a></p>

        <h3>Why?</h3>

        <p>I felt the personal need for a job portal for Free Software jobs as
one of my main criteria for any future job is the ability to work with and on FOSS.
The FSF webpage has only a <a href="https://www.fsf.org/resources/jobs/">tiny section on "Free Software Jobs"</a> and most existing job portals
are not specialized in Free Software / FOSS (they sometimes have tags such as "open source", but without a clear criteria).</p>

        <h3>What is a "Free Software Job"?</h3>

        <p>A "Free Software Job" in the context of this site is any job
        where at least 50% of the time contribute to <a href="https://fsfe.org/about/basics/freesoftware.en.html">Free and Open-Source Software (FOSS)</a>.
Contribution does not necessarily involve writing software --- job profiles such as UX, product management, QA and translation for FOSS are equally important.
Working *with* FOSS alone is not enough to satisfy this criteria,
i.e. a Linux administration job in an otherwise proprietary environment does not fit.</p>


        <h3>Is a fee involved for posting a job offer?</h3>

        <p>No. I believe there should be no barriers for posting Free Software Jobs. The FSF charges a fee and I suppose that's one reason their page lists only very few jobs.</p>

        <h3>Example Job Offers</h3>

        <p>(curated list, no guarantees for correctness)</p>

        {% for job in jobs.values()|sort(attribute='created', reverse=True) %}
            <h4><a href="jobs/{{job.slug|e}}.html">{{ job.title|e }}</a></h4>
            <p>{{ job.employer|e }} <span>{{ job.location|e }}</span></p>
            <p>{% for tag in job.tags %} {{ tag|e }} {% endfor %}</p>
        {% endfor %}
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>
